<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New Computer</title>
</head>
<body>
	<form th:object="${newComputer}" th:action="@{/update/{id}(id=${newComputer.id})}" method=POST>
		Name: <input name="name" size="20" th:field="*{name}"><br />
		Model: <input name="model" size="4"th:field="*{model}"><br /> 
		Year: <input name="year" size="4"th:field="*{year}"><br /> 
		Price: <input name="price" size="10"th:field="*{price}"><br /> 
		
		 <input name="submit" type="submit" value="submit" />
	</form>
	<a href="viewAll">View all Computers</a>
</body>
</html>
